/* Skeleton Component Styles */

.scl-skeleton {
  border: 1px solid hsla(120, 100%, 50%, 0.3);
  background-color: hsla(120, 100%, 50%, 0.1);
}

.scl-skeleton--blink {
  animation: scl-blink 1s step-end infinite;
}
