/* Skeleton Component Styles */

.scl-skeleton {
  border: 1px solid color-mix(in srgb, var(--scl-primary) 30%, transparent);
  background-color: color-mix(in srgb, var(--scl-primary) 10%, transparent);
}

.scl-skeleton--blink {
  animation: scl-blink 1s step-end infinite;
}
