/* Label Component Styles */

.scl-label {
  font-size: var(--scl-text-sm);
  font-weight: 500;
  font-family: var(--scl-font-mono);
  color: var(--scl-primary);
  line-height: 1;
}

.scl-label[data-disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
