/* Switch Component Styles */

.scl-switch {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  width: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  border: 2px solid var(--scl-primary);
  background-color: var(--scl-background);
  padding: 0 2px;
}

.scl-switch:focus-visible {
  outline: var(--scl-focus-ring-width) solid var(--scl-ring);
  outline-offset: var(--scl-focus-ring-offset);
}

.scl-switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.scl-switch__thumb {
  pointer-events: none;
  display: block;
  height: 1rem;
  width: 1.25rem;
  background-color: var(--scl-primary);
  transition: transform var(--scl-duration-fast);
}

.scl-switch[data-state="checked"] .scl-switch__thumb {
  transform: translateX(1.25rem);
}

.scl-switch[data-state="unchecked"] .scl-switch__thumb {
  transform: translateX(0);
}
